
.logo {
    width: 200px;
    pointer-events: none;
}

.navbar-brand {
  margin-top: -10px;
  text-align: center;
  margin-left: 20px;
}

.navbar{
  border-bottom: 1px solid gray;
  z-index: 100;
}